In [2]:
def fullname(rahul,kumar):
  print("Hello",rahul, kumar)

In [3]:
# This program prints Hello, world!

print('Hello, world!')

Hello, world!

In [4]:
s = "Welcome to scaler docs"
s1 = slice(6) # takes start as 0 automatically
print("s1-obj:", s1)
print("s1-res:", s[s1])
s2 = slice(2,8) # using slice(start, end, step) without step
print("s2-obj:", s2)
print("s2-res:", s[s2])
s3 = slice(1, 20, 2) # using slice(start, end, step) with step
print("s3-obj:", s3)
print("s3-res:", s[s3])

s1-obj: slice(None, 6, None)
s1-res: Welcom
s2-obj: slice(2, 8, None)
s2-res: lcome
s3-obj: slice(1, 20, 2)
s3-res: ecm osae o

In [6]:
str1 = 'Hello, codedamn!'
str2 = 'HELLO, CODEDAMN!'

str1 = 'Hello, codedamn!'
str2 = 'HELLO, CODEDAMN!'

if str1.upper() == str2.upper():
    print("The strings are the same.")
else:
    print("The strings are not the same.")

The strings are the same.

In [7]:
>>> a = ["I like apple","I love you so much"]
>>> [i.replace('apple','orange').replace('love','like') for i in a]
['I like orange', 'I like you so much']
>>>

['I like orange', 'I like you so much']

In [8]:
#Print first 5 natural numbers using while loop
count = 1
while count <= 5:
 print(count)
 count += 1

1
2
3
4
5

In [15]:
numbers = list(range(1,2,3,4))
i = 0
while i < len(numbers):
    print(numbers[i] ,end = " ")
    i += 3
    print(numbers[i] ,end = " ")
    i += 3

TypeError: range expected at most 3 arguments, got 4

In [17]:
a = [1,2,3,4,5]

for i in range(5):
    a.remove(i+1)

print(a)

[]

In [19]:
items = [['a','b'],['c','d']]

new_list = [item[1] for item in items] # where 1 in item[1] is the index of last element or you can use -1

print(new_list) # ['b', 'd']

['b', 'd']

In [20]:
x = ("10","20","30","40","50")
#Tuple("10","20","30","40","50") #error, not need this
print(tuple(reversed(x)))
#print(*reversed(x)) #alternative..

('50', '40', '30', '20', '10')

In [21]:
# Create a tuple containing three numbers
t = (100, 200, 300)

# Use the 'format' method to insert the tuple 't' into the string and print the result
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)

In [22]:
tuple1 = (1,2,2,3,5,4,6)
tuple2 = ("Red", "Green", "Blue")
print(tuple1)
print(tuple2)

(1, 2, 2, 3, 5, 4, 6)
('Red', 'Green', 'Blue')